.modal-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.logohb {
  height: 90px; 
}

.agrega-inv{
  width: 1500px;
}

.target-cerveza{
  width: 260px;
  height: 390px;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 10px 5px rgb(171, 184, 177);
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  margin: 15px;
}

.imgcerveza{
  width: 245px;
  border-radius: 15px;
}

/* -----BOTONES PEDIDOS PARA CARRITO------ */


.inputsumaresta{
  width: 40px;
  height: 50px;
  text-align: center;
  border: 1px solid rgba(140, 153, 143, 0.459);
  margin: 0px 10px 0px;
}